<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Web application</title>
</head>

<body>

<h2>Enjoy Zero To Hero</h2>

<form id="form3" name="zerotohero" action="../info"  method="GET">
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName"/>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName"/>
    <button>Submit</button>
</form>

<script type="application/javascript" src="../js/util.js"></script>
<script type="application/ecmascript" src="../js/cookie.js"></script>
</body>
</html>
