<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
</head>

<body>

<h2>Enjoy Zero To Hero</h2>

<form id="form3" name="zerotohero" action="../zerotohero"  method="POST">
    <label for="firstName">First name:</label>
    <input type="text" id="firstName" name="firstName"/>
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="lastName"/>
    <button>Submit</button>
</form>

<script type="application/javascript" src="../js/util.js"></script>
</body>
</html>
